@mixin btn{
    background-color: #ec644b;
    border-radius: 25px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
    &__small{
        width: 160px;
        height: 45px;
        font-size: 12px;
        line-height: 22px;
        font-weight: 400;
    }
    &__big{
        display: block;
        margin: 39px auto 0 auto;
        width: 230px;
        height: 57px;
        font-size: 15px;
        line-height: 17px;
        font-weight: 700
    }
}
.title{
    text-align: center;
    font-size: 26px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
}
.line{
    width: 148px;
    height: 1px;
    display: block;
    margin: 20px auto 0 auto;
    background-color: $main-color;
}