@import 'base/variables';
@import 'base/mixins';
@import 'base/bootstrap-reboot.min';
@import 'base/bootstrap.min';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/delivery';
@import 'blocks/service';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/work';
@import 'blocks/feed';
@import 'blocks/questions';
@import 'blocks/map';
@import 'blocks/footer';

.container{
    width: 1140px;
    margin: 0 auto;
}
*{
    font-family: 'Roboto', sans-serif;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


@import 'base/media.scss';