.advantages{
    padding: 57px 0 51px 0;
    min-height: 590px;
    background-color: #f3f3f3;
    &__wrapper{
        margin-top: 31px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
        align-items: center;
        
    }
    img{
        width: 70%;
    }
    &__title{
        text-align: center;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2e2e2e;
    }
    &__column{
        display: grid;
        grid-template-columns: 14% auto;
        row-gap: 35px;
        &:last-child{
            padding-top: 4%;
        }
    }
    &__item{
        &-title{
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            color: $main-color;
    }
        &-subtitle{
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
        }
    }
}