.delivery{
    padding: 51px 0 57px 0;
    
    &__subtitle{
        text-align: center;
        margin-top: 17px;
        font-size: 21px;
        line-height: 24px;
        font-weight: 300;
        color: #2e2e2e;
    }
    &__wrapper{
        margin-top: 37px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

    }
    img{
        width: 100%;
    }
    &__item{
        &-text{
            margin-top: 28px;
            text-align: center;
        }
        &-title{
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            color: $main-color;
        }
        &-subtitle{
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
            margin-top: 5px;
        }
    }
}