.header{
    padding: 23px 0 82px 0;
    background: url(../img/header_bg.jpg) center center/cover no-repeat;
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 6fr 2fr 1fr;
        column-gap: 10px;
        align-items: center;
    }
    &__list{
        &-menu{
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            
        }
      
        &-links{
            font-size: 15px;
            border-right: 1px dotted rgba(255, 255, 255, .4);
            padding-right: 2%; 
            &:last-child{
                border-right: none;
            }
            a{
                line-height: 16px;
                font-weight: 400;
                color: #fff;
                
                &:hover{
                    text-decoration: none;
                    color: $main-color;
                    border-bottom: 1px $main-color solid;
                    padding-bottom: 5px;
                }
            }
        }
    }
    &__contacts{
        text-align: right;
        margin-right: 10px;
        &-descr{
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #ffffff;
        }
        &-phone{
            font-size: 19px;
            line-height: 24px;
            font-weight: 700;
            color: #ffffff;
            &:hover{
                color: #fff;
            }
        }
       
    }
    .btn{
        @include btn;
    }
    &__text{
        margin-top: 9px;
        text-align: center;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
    }
    &__title{
        margin-top: 24px;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-size: 72px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ec644b;
        
    }
    &__subtitle{
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-size: 42px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }
    .dot{
        position: relative;
        display: block;
        margin: 38px auto 0 auto;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 100%;
        &::before{
            display: block;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(-5%,-50%);
            content:'';
            width: 412px;
            height: 2px;
            background-color: #fff;
        }
        &::after{
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(5%,-50%);
            content:'';
            width: 412px;
            height: 2px;
            background-color: #fff;
        }
    }
    &__service{
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }
    &__item{
        &-descr{
            text-align: center;
            margin-top: 19px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 300;
            color: #ffffff;
        }
        &-img{
            margin: 0 auto;
            display: block;
            color: #fff;
        }
    }
}