.price{
    padding: 53px 0 55px 0;
    &__wrapper{
        margin-top: 34px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
    }
    &__item{
        &-title{
            text-align: center;
            padding: 22px;
            background-color: #25333c;
            font-size: 16px;
            line-height: 23px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
        }
        &-img{
            padding-top: 14px;
            text-align: center;
        }
        &-text{
            text-align: center;
            margin-top: 10px;
            font-family: Roboto;
            font-size: 14px;
            line-height: 23px;
            font-weight: 400;
            text-transform: uppercase;
            color: #2e2e2e;
                span{
                    font-size: 28px;
                    line-height: 30px;
                    text-transform: none;
                    color: #ec644b;
                }
        }
        &-descr{
            margin-top: 20px;
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: #2e2e2e;
        }
    }
    .btn{
        &__small{
            @include btn;
            padding: 12px 40px;
            display: block;
            margin: 25px auto 0 auto;
        }
    }
}