.questions{
    position: relative;
    padding: 65px 0 0 0;
    background: url(../img/question_bg.jpg) center center/cover no-repeat;
    height: 438px;
    &__wrapper{
        display: block;
        margin: 0 auto;
        width: 896px;
        min-height: 297px;
        background-color: rgba(255, 255, 255, .7);
        &-text{
            height: 68px;
            text-align: center;
            background-color:    rgba(46, 64, 75, 1.0);
        } 
    }
    &__title{
        padding-top: 10px;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__subtitle{
        font-size: 14px;
        line-height: 7px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__btn{
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        height: 45px;
        background-color: $main-color;
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
        border-radius: 25px;
        border: none;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5% 38px 0 38px;
        input{
            border-radius: 50px;
            margin-right: 5px;
            outline: 0;
            width: 270px;
            height: 47px;
            background-color: #ffffff;
            border: 1px solid rgba(0,0,0,0.2);
            padding-left: 28px;
            font-family: Roboto;
            font-size: 13px;
            line-height: 24px;
            font-weight: 300;
            color: rgba(0,0,0,0.9);
        }
    }
}