.service{
    padding: 58px 0 75px 0;
    background: url(../img/bg_service_1.jpg) center center/cover no-repeat;
    &__manager{
        background: url(../img/bg_service_two.jpg) center center/cover no-repeat;
    }
    &__img{
        display: block;
        margin: 0 auto;
    }
    &__title{
        text-align: center;
        margin-top: 20px;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        color: #ffffff;
    }
    &__subtitle{
        text-align: center;
        margin-top: 22px;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
    }
}